.mainTitle{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 7em;
}
.secondaryTitle{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}
.border{
    background-color: rgba(255, 255, 255, 0.819);
    margin: 0 auto;
    border-radius: 1.5em;
}