*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: 50% 20%;
}