.list{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0 auto;
    /* this line centers our to-do list in our app */
    padding: 20px;
    margin-top: 50px;
}
